@import url(buttons.css);

@import url(bazovie-stili.css);

.primer {
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ani-1 {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ani-2 {
    padding: 3px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ani-11 {
    background-color: rgb(225, 156, 17);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation-name: circle-to-square;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
}

.ani-22 {
    background-color: green;
    width: 190px;
    height: 190px;
    animation: square-to-circle 3s infinite alternate ease-in-out;
}

.anim:hover {
    animation-play-state: paused;
}

@keyframes circle-to-square {
    from {
      width: 80px;
      height: 80px;
      background-color: rgb(225, 156, 17);
    }
    50% {
      width: 80px;
      height: 200px;
      background-color: #7F6EDB;
    }
    to {
      width: 200px;
      height: 200px;
      background-color: #2E9AFF;
    }
  }

@keyframes square-to-circle {
    from {
        width: 190px;
        height: 190px;
        background-color: green;
    }
    59% {
        width: 190px;
        height: 80px;
        background-color: rgb(193, 10, 184);
    }
    to {
        width: 80px;
        height: 80px;
        background-color: rgb(206, 20, 51);
    }
}

.medet {
    background-color: rgb(48, 205, 205);
    border: 3px solid white;
    width: 70%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    animation: medet-ani 7s infinite linear;
}

.medet2 {
    width: 40px;
    height: 40px;
    background-color: rgb(237, 237, 237);
    border: 1px solid black;
    border-radius: 50%;
    animation: medet2-ani 4s infinite alternate linear;
    position: relative;
    top: 30px;
    
}


@keyframes medet-ani {
    from {
        background-color: rgb(48, 205, 205);
    }
    12.5% {
        background-color: rgb(51, 225, 117);
    }
    25% {
        background-color: rgb(225, 225, 51);
    }
    37.5% {
        background-color: rgb(225, 132, 51);
    }
    50% {
        background-color: rgb(225, 51, 51);
    }
    62.5% {
        background-color: rgb(205, 48, 174);
    }
    75% {
        background-color: rgb(140, 48, 205);
    }
    87.5% {
        background-color: rgb(58, 48, 205);
    }
    to {
        background-color: rgb(48, 205, 205);
    }
}

@keyframes medet2-ani {
    from {
        background-color: white;
        left: 10px;
        top: 30px;
    }
    50% {
        background-color: grey;
        left: 200px;
        top: 60px;
    }
    to {
        background-color: black;
        left: 500px;
        top: 30px;
    }
}

.tra {
    width: 70%;
    height: 40vh;
    border: 2px solid blue;
    margin: 10px 5px 20px 40px;
    padding: 10px;
    box-sizing: border-box;
}

.tra > button {
    background-color: antiquewhite;
    padding: 6px 14px;
    width: 200px;
    height: 70px;
    position: relative;
    left: 40%;
    top: 20%;
    border: 2px solid rgb(25, 156, 200);
    border-radius: 4px;
    transition: background-color 0.5s, transform 0.5s;
}

.tra > button:first-child {
    margin-bottom: 20px;
}

.tra > button:first-child:hover {
    background-color: aqua;
}

.tra > button:last-child:hover {
    background-color: aquamarine;
    transform: scale(120%);
    transition: background-color 3s, transform 3s;
}

.tra > a {
    position: relative;
    left: -100px;
    top: 30px;
    text-decoration: none;
    background-color: rgb(232, 214, 188);
    border: 2px solid coral;
    border-radius: 7px;
    padding: 5px 22px;
    transition: background-color 0.5s, transform 0.5s, color 0.5s;
}

.tra > a:hover {
    background-color: blanchedalmond;
    color: black;
    transform: scale(120%);
}

.tra > span {
    background-color: white;
    border: 1px solid blue;
    padding: 3px 10px;
    position: relative;
    left: -260px;
    top: 84px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s, top 0.4s;
}

.tra > a:hover + span {
    opacity: 1;
    visibility: visible;
    top: 64px;
}



.tra-d {
    width: 70%;
    height: 40vh;
    border: 2px solid blue;
    margin: 10px 5px 20px 40px;
    padding: 10px;
    box-sizing: border-box;
}

.tra-d > button {
    background-color: azure;
    padding: 6px 14px;
    width: 200px;
    height: 70px;
    position: relative;
    left: 40%;
    top: 20%;
    border: 2px solid rgb(25, 156, 200);
    border-radius: 4px;
    transition: background-color 0.5s, transform 0.5s;
    
}

.tra-d > button {
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    /* color: #ffffff; */
}

.tra-d > .but1 {
    background-color: #2E9AFF;
    padding-left: 35px;
}

.tra-d > .but1,
.but1 + span {
    font-size: 20px;
    transition-property: font-size, transform;
    transition-duration: .5s, .5s;
    transition-delay: .5s, 0s;
}

.but1 + span {
    /* background-color: #1d8ffa; */
    padding: 4px 12px;
    position: relative;
    left: 330px;
    top: -5px;
}

.tra-d > .but1:before {
    content: 'Спасибо! U*ᴥ*U';
    font-size: 0;
    transition-property: font-size;
    transition-duration: .5s;
    transition-delay: 0s;
}

.tra-d > .but1:hover:before {
    font-size: 18px;
    transition-property: font-size;
    transition-duration: .5s;
    transition-delay: .5s;
}

.tra-d > .but1:hover + span {
    transform: scale(0);
    font-size: 0px;
    transition-property: font-size, transform;
    transition-duration: .5s, .5s;
    transition-delay: .5s, o;
}

.tra-d > button:last-child {
    transition-delay: 0.3s;
}

.tra-d > button:first-child:hover {
    background-color: rgb(255, 242, 0);
}

.tra-d > button:last-child:hover {
    background-color: rgb(148, 255, 127);
    transform: scale(120%);
}

.t-t-f {
    font-size: 18px;
    padding: 10px 20px;
    background-color: aqua;
    transition-property: padding;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.52,-1.5,.27,3);
}

.t-t-f:hover {
    padding: 20px 30px;
    cursor: pointer;
}



.starfall {
    width: 52%;
    height: 50vh;
    border: 2px solid blue;
    margin-left: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star > img {
    /* background-color: aqua; */
    width: 40px;
    position: relative;
    left: -140px;
    top: -100px;
}

.star {
    position: relative;
    animation-name: starr-fall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 1s;
    opacity: 1;
}



.star2 > img {
    /* background-color: aqua; */
    width: 40px;
    position: relative;
    left: -100px;
    top: -100px;
}

.star2 {
    position: relative;
    animation-name: starr-fall;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 2s;
    opacity: 1;
}


.star3 > img {
    /* background-color: aqua; */
    width: 40px;
    position: relative;
    left: -80px;
    top: -100px;
}

.star3 {
    position: relative;
    animation-name: starr-fall;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 1s;
    opacity: 1;
}


.star4 > img {
    /* background-color: aqua; */
    width: 40px;
    position: relative;
    left: -65px;
    top: -100px;
}

.star4 {
    position: relative;
    animation-name: starr-fall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 3s;
    opacity: 1;
}


.star5 > img {
    /* background-color: aqua; */
    width: 40px;
    position: relative;
    left: -40px;
    top: -100px;
}

.star5 {
    position: relative;
    animation-name: starr-fall;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 2s;
    opacity: 1;
}


@keyframes starr-fall {
    from {
        left: 0px;
        top: 0px;
        opacity: 0;
    }
    50% {
        left: 50px;
        top: 100px;
        opacity: 1;
    }
    to {
        left: 100px;
        top: 200px;
        opacity: 0;
    }
}


.circl {
    width: 200px;
    height: 200px;
    background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    purple,
    red
    );
    
    border-radius: 50%;

    /* animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease; */

    animation: rainbow 2s infinite normal linear;

}

/* .circl::before {
    content: '';
    width: 100px;
    height: 100px;
    background-color: black;
} */

.circl::after {
    content: ''"";
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    background: #18191c;
    border-radius: 50%;
  }

@keyframes rainbow {
    from {
        background: conic-gradient(
        red,
        orange,
        yellow,
        green,
        blue,
        purple,
        red
        );
    }
    16% {
        background: conic-gradient(
        orange,
        yellow,
        green,
        blue,
        purple,
        red,
        orange
        );
    }
    33% {
        background: conic-gradient(
        yellow,
        green,
        blue,
        purple,
        red,
        orange,
        yellow
        );
    }
    49% {
        background: conic-gradient(
        green,
        blue,
        purple,
        red,
        orange,
        yellow,
        green
        );
    }
    66% {
        background: conic-gradient(
        blue,
        purple,
        red,
        orange,
        yellow,
        green,
        blue
        );
    }
    84% {
        background: conic-gradient(
        purple,
        red,
        orange,
        yellow,
        green,
        blue,
        purple
        );
    }
    to {
        background: conic-gradient(
        red,
        orange,
        yellow,
        green,
        blue,
        purple,
        red
        );
    }
}

.circl2 {
    width: 200px;
    height: 200px;
    background: linear-gradient( -45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    purple,
    red
    );
    border-radius: 50%;
    margin-left: 40px;
    background-size: 400% 400%;
    animation: lin-gr 10s ease infinite;
}

@keyframes lin-gr {
    from {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0 50%;
    }

}

.circl2:hover {
    background: linear-gradient( -45deg,
    green,
    blue,
    purple,
    red,
    orange,
    yellow,
    green
    );
}