body {
    background: conic-gradient(red, orange, yellow, green, lightblue, lightsalmon, red);
    background-attachment: fixed;
}

p.warning::before {
    content: '⚠️';
}

h1 {
    display: inline-block;
    padding: 1px 4px;
    background-color: white;
    margin-left: 20vw;
    border-radius: 7px;
}

li {
    width: 95%;
    border: 3px solid blue;
    padding: 5px 5px 15px 5px;
    border-radius: 15px;
    margin-bottom: 7px;
    background-color: rgb(222, 233, 241);
    list-style-type: none;
}

li:hover {
    background-color: white;
}

li p {
    margin-left: 3px;
}

h2 {
    font-size: 2em;
    font-family: monospace;
    margin-left: 20px;
}

.primer {
    border: 2px solid blue;
    border-radius: 3px;
    margin: 5px 5px 10px 40px;
    padding: 10px;
    width: 70%;
}

footer {
    padding: 20px;
}

.p-list {
    margin-left: 40px;
}

.p-list::before {
    content: '*';
    padding-right: 4px;
}