a.navi,
a.dopinfo {
    font-size: 20px;
}

.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 4px;   
    margin-right: 5px;
    text-decoration: none;
    background-color: greenyellow;
}

.navi:hover {
    
    color: white;
    margin-right: 5px;
}

.dopinfo {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 4px;
    text-decoration: none;
    margin-left: 3px;
}

a.navi:hover,
a.dopinfo:hover {
    background-color: rgb(71, 150, 182);
    color: white;
    padding: 4px;
}

a.navi:active,
a.dopinfo:active {
    color: yellow;
}

a.navi:focus,
a.dopinfo:focus {
    box-shadow: 3px 3px 3px grey;
}