.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    text-decoration: none;
    background-color: greenyellow;
}

.navi:hover {
    background-color: rgb(32, 138, 138);
    color: white;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 4px;
}

a {
    font-size: 20px;
    border: none;
}

a:hover {
    background-color: rgb(36, 175, 175);
    color: white;
    padding: 3px;
    border: 2px solid rgb(20, 98, 98);
    border-radius: 3px;
}

footer {
    padding: 20px;
}