body {
    font-size: 18px;
}

.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    text-decoration: none;
    background-color: greenyellow;
}

.navi:hover {
    background-color: rgb(32, 138, 138);
    color: white;
}

ul {
    list-style-type: none;
}

ul > li {
    border: 2px solid blue;
    padding: 2px;
    width: 250px;
}



li {
    margin-bottom: 4px;
}

a.navi {
    font-size: 20px;
    border: none;
}

a.navi:hover {
    background-color: rgb(36, 175, 175);
    color: white;
    padding: 3px;
    border: 2px solid rgb(20, 98, 98);
    border-radius: 3px;
}

.menu {
    margin: 5px 5px 30px 5px;
    padding: 3px;
    
}

a {
    text-decoration: none;
}

.menu > a {
    padding: 2px 5px;
    color: black;
    font-weight: bold;
}

.menu > a:hover {
    background-color: aquamarine;
}

.menu > a:not(:last-child) {
    margin-right: 15px;
}

li:hover {
    background-color: aqua;
}

footer {
    padding: 20px;
}