@import url(buttons.css);

@import url(bazovie-stili.css);

.flgr {
    /* width: 80vw; */
    min-height: 70vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    
}

.cont1 {
    min-width: 6vw;
    min-height: 6vw;
    border: 1px solid blue;
    background-color: aqua;
}

.cont2 {
    min-width: 6vw;
    min-height: 6vw;
    border: 1px solid blue;
    background-color: aquamarine;
    flex-grow: 1;
}

.cont3 {
    min-width: 6vw;
    min-height: 6vw;
    border: 1px solid blue;
    background-color: rgb(16, 175, 228);
}

.cont4 {
    min-width: 2vw;
    min-height: 4vw;
    border: 1px solid blue;
    background-color: rgb(19, 228, 16);
}