@import url(buttons.css);

@import url(bazovie-stili.css);


.color {
    height: 50vh;
    background-color: lightskyblue;
    transition: background-color 1.5s;
}

.color:hover {
    background-color: lightsalmon;
    transition: background-color 1.5s;
}