* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

a {
    font-weight: bold;
}

li {
    list-style-type: none;
}

nav {
    margin-left: 30px;
    margin-top: 20px;
}

.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    text-decoration: none;
    background-color: greenyellows;
    font-size: 20px;
}

.navi:hover {
    background-color: rgb(32, 138, 138);
    color: white;
}

li {
    width: 95%;
    border: 3px solid blue;
    padding: 5px 5px 15px 5px;
    border-radius: 15px;
    margin-bottom: 7px;
}

li p {
    margin-left: 3px;
}

.dopinfo {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 4px;
    text-decoration: none;
    margin-left: 3px;
}

.dopinfo:hover {
    background-color: blue;
    color: white;
}

h2 {
    font-size: 2em;
    font-family: monospace;
    margin-left: 20px;
}

.primer {
    border: 2px solid blue;
    border-radius: 3px;
    margin: 5px 5px 10px 40px;
    padding: 10px;
    width: 70%;
}




.element::before {
    content: "Элемент с классом " attr(class);
    display: block;
}

.element::after {
    content: "Подсказка: " attr(title);
    display: block;
}

.lg0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lg, .lg2, .lg3 {
    height: 200px;
    width: 30%;
    margin-bottom: 20px;
    border: 2px solid blue;
}

.lg {
    background-image: linear-gradient(#dfc6cb 30%, #2E9AFF 40% 75%, #29ff78 75%);
}

.lg2 {
    background:
          linear-gradient(
            217deg,
            rgb(46, 196, 255),
            rgb(255 100 100 / 0) 70.71%
          ),
          linear-gradient(
            127deg,
            rgb(231, 87, 121),
            rgb(100 255 100 / 0) 70.71%
          ),
          linear-gradient(
            336deg,
            rgb(255 216 41 / 1),
            rgb(100 100 255 / 0) 70.71%
          );
}

.lg3 {
    background-image: linear-gradient(145deg, rgb(27, 166, 191) 40%, rgb(38, 38, 145) );
}



footer {
    padding: 20px;
}