* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

a {
    font-weight: bold;
}

li {
    list-style-type: none;
}

nav {
    margin-left: 30px;
    margin-top: 20px;
}

.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    text-decoration: none;
    background-color: greenyellows;
    font-size: 20px;
}

.navi:hover {
    background-color: rgb(32, 138, 138);
    color: white;
}

li {
    width: 95%;
    border: 3px solid blue;
    padding: 5px 5px 15px 5px;
    border-radius: 15px;
    margin-bottom: 7px;
}

li p {
    margin-left: 3px;
}

.dopinfo {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px 4px;
    text-decoration: none;
    margin-left: 3px;
}

.dopinfo:hover {
    background-color: blue;
    color: white;
}

h2 {
    font-size: 2em;
    font-family: monospace;
    margin-left: 20px;
}

.primer {
    border: 2px solid blue;
    border-radius: 3px;
    margin: 5px 5px 10px 40px;
    padding: 10px;
    width: 70%;
}




.element::before {
    content: "Элемент с классом " attr(class);
    display: block;
}

.element::after {
    content: "Подсказка: " attr(title);
    display: block;
}

.lg {
    height: 400px;
    width: 70%;
    margin-left: 100px;
    margin-bottom: 20px;
    border: 2px solid blue;
    background-color: aqua;
    background-image: linear-gradient(blue pink);
}



footer {
    padding: 20px;
}