.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    text-decoration: none;
}

.navi:hover {
    background-color: rgb(32, 138, 138);
    color: white;
}

a {
    margin-top: 3px;
}

li {
    width: 95%;
}

body {
    margin-top: 10px;
}

footer {
    margin-bottom: 30px;
}