

.navi {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 3px;
    margin-right: 5px;
    text-decoration: none;
    background-color: greenyellow;
}

.navi:hover {
    background-color: rgb(32, 138, 138);
    color: white;
    margin-right: 7px;
}

ul {
    list-style-type: none;
}

li.list {
    width: 95%;
    border: 3px solid blue;
    padding: 5px 5px 15px 5px;
    border-radius: 15px;
    margin-bottom: 7px;
    background-color: rgb(250, 234, 240);
}

li.list:hover {
    background-color: white;
}

li p {
    margin-left: 3px;
}

.dopinfo {
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    text-decoration: none;
    margin-left: 3px;
}

.dopinfo:hover {
    background-color: blue;
    color: white;
}

h2 {
    font-size: 2em;
    font-family: monospace;
    margin-left: 20px;
}

a {
    font-size: 20px;
    
}

a.navi:hover,
a.dopinfo:hover {
    background-color: rgb(36, 175, 175);
    color: white;
    padding: 2px;
}

.befo {
    margin-left: 30px;
    position: relative;
}

.befo::before {
    margin-right: 5px;
}

.befo1::before {
    content: "®";
}

.befo2 {
    padding-left: 20px;
}

.befo2::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    left: 1px;
    top: 3px;
}

.befo3::before {
    content: "©";
}

.afte1 {
    margin-left: 30px;
    font-weight: bold;
}

.afte2::before,
.afte2::after {
    content: "♥";
    padding: 3px;
    color: green;
    font-size: 2em;
}

.afte3 {
    all: unset;
    position: relative;
    margin-left: 30px;
    font-size: 30px;
    padding: 3px;
    
}

.afte3:hover {
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
}

.afte3::before,
.afte3::after {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all 0.6s;
    border-radius: 4px;
}

.afte3::before {
    top: -2px;
    left: -2px;
    border-top: 4px solid blueviolet;
    border-left: 4px solid blueviolet;
}

.afte3::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 4px solid blueviolet;
    border-right: 4px solid blueviolet;
}

.afte3:hover::before,
.afte3:hover::after {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

.afte4 {
    text-decoration: none;
    margin-left: 30px;
    padding: 2px;
}

.afte4::after {
    content: " (ссылка: " attr(href) ")";
}

.afte4:hover {
    border-radius: 6px;
    background-color: aqua;
}

.cont {
    margin-left: 30px;
    margin-bottom: 10px;
}

.cont1::before {
    content: "prefix";
    background-color: aqua;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.cont2::before {
    content: attr(data-);
    background-color: rgb(220, 220, 60);
    padding: 2px 4px 2px 4px;
    border-radius: 15px;
}

.cont3::before {
    content: open-quote;
}

.cont3::after {
    content: close-quote;
}

.con4 {
    counter-reset: example 0;
    margin-bottom: 20px;
}

.con5 {
    position: relative;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 1px;
    background-color: blue;
    color: white;
    width: 90px;
    margin-bottom: 3px;
}

.li1::before {
    content: counter(example);
    position: absolute;
    top: 0;
    right: 100%;
    width: 20%;
    height: 90%;
    padding: 1px 1px;
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color: blue;
}

.li2::before {
    content: counter(example, lower-roman);
    position: absolute;
    top: 0;
    right: 100%;
    width: 20%;
    height: 91%;
    padding: 1px 1px;
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color: blue;
}

.li3::before {
    content: counter(example);
    position: absolute;
    top: 0;
    right: 100%;
    width: 20%;
    height: 91%;
    padding: 1px 1px;
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color: blue;
}

.li1 {
    counter-increment: example 2;
}

.li2 {
    counter-increment: example 4;
}

.li3 {
    counter-increment: example 3;
}

.li-ol2::marker {
    content: counters(list-item, '.');
}

.inp1::placeholder {
    color: rgb(118, 176, 31);
    background-color: rgb(227, 222, 222);
}

.inp2::placeholder {
    color: aqua;
    text-shadow: 2px 2px 3px rgb(105, 22, 183);
    font-weight: bold;
    background-color: rgb(227, 222, 222);
}

.inp3::placeholder {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.fl1, .fl2 {
    margin-left: 30px;
}

.fl1::first-letter {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding: 3px;
    border: 1px solid blue;
    border-radius: 30px;
    color: blue;
}

.fl2::first-letter {
    font-size: larger;
    font-family: fantasy;
    font-weight: 100;
    font-style: italic;
    padding-right: 3px;
    color: rgb(151, 151, 71);
}

.fl2::before {
    content: "Before_";
}

.f-line::first-line {
    font-size: large;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.sele {
    margin-bottom: 3px;
    font-size: 22px;
}

.sele3::selection {
    color: rgba(0, 0, 255, 0.735);
}

.sele4::selection {
    background-color: rgb(219, 167, 64);
}

.sele5::selection {
    background-color: rgba(0, 0, 255, 0.786);
    color: white;
    text-shadow: 2px 2px 1px black;
    padding-right: 3px;
}

.sele6::selection {
    background-color: greenyellow;
}

.sele6-2::selection {
    background-color: red;
    color: white;
}

.sele7-2 {
    width: 600px;
}

.sele7-2::selection {
    background-color: black;
    color: white;
}

li.list2 {
    width: 95%;
    border: 3px solid blue;
    padding: 5px 5px 15px 5px;
    border-radius: 15px;
    margin-bottom: 7px;
    background-color: rgb(250, 234, 240);
}

li.list2:hover {
    background-color: rgba(246, 237, 67, 0.257);
}

footer {
    padding: 20px;
}