@import url(buttons.css);

@import url(bazovie-stili.css);


.imag {
    padding: 16px;
    display: block;
    text-align: center; 
}

.txt-d,
.txt-d2 {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 8px;
    transition: text-decoration .5s;
    font-size: larger;
}

.txt-d {
    text-decoration: underline double 3px;
}

.txt-d2 {
    text-decoration: overline underline wavy 2px;
}

.txt-d:hover {
    text-decoration: underline double greenyellow 3px;
    transition: text-decoration .5s;
}

.txt-d2:hover {
    text-decoration: overline underline wavy lightskyblue 2px;
    transition: text-decoration .5s;
}



.tdt {
    background-color: black;
    color: white;
    padding: 40px 10px;
}

.tdt-ul {
    display: flex;
    justify-content: center;
}

.tdt-item {
    all: unset;
    margin-right: 30px;
}

.tdt-link {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.3;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 4px;
    text-underline-offset: -40px;
    text-transform: uppercase;
    text-decoration: overline  2px grey;
    text-decoration: underline double 2px rgb(135, 111, 111);
    transition: 150ms linear;
}

.tdt-link:hover {
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 1.3;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: underline double 2px white;
    cursor: pointer;
    transition: 150ms linear;
}

.yellow {
    text-decoration-color: yellow;
}

.red {
    text-decoration-color: red;
}

.greenyellow {
    text-decoration-color: greenyellow;
}

.skyblue {
    text-decoration-color: skyblue;
}