@import url(buttons.css);

@import url(bazovie-stili.css);


.tra-f {
    background: linear-gradient(15deg, red, greenyellow, rgb(50, 141, 244), blue);
    width: 20vw;
    height: 20vw;
    margin-left: 10vw;
    position: relative;
    left: 30px;
    border-radius: 50%;
    background-size: 400%;
    animation: sfera 10s linear infinite;
    transition: transform .5s;
}

.tra-f::before,
.tra-f::after 
{
    content: '';
    width: 70%;
    height: 70%;
    background-color: black;
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 50%;
}



@keyframes sfera {
    from {
        background-position: 0 0;
    }
    50% {
        background-position: 99% 99%;
    }
    to {
        background-position: 0 0;
    }

}

.primer {
    perspective: 500px;
}

.tra-f:hover {
    transform: rotate(180deg) translateZ(-70px) translateX(20px);
    cursor: pointer;
    transition: transform .5s;
}