@import url(buttons.css);

@import url(bazovie-stili.css);


.tra-f {
    background: linear-gradient(15deg, red, greenyellow, rgb(162, 184, 209), rgb(233, 36, 230));
    width: 20vw;
    height: 20vw;
    
    position: relative;
    left: 30px;
    border-radius: 50%;
    background-size: 400%;
    animation: sfera 10s linear infinite;
    transition: transform .5s;
}

.tra-f::before,
.tra-f::after 
{
    content: '';
    width: 70%;
    height: 70%;
    background-color: black;
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 50%;
}

.tra-f0 {
    background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    purple,
    red
    );
    width: 20vw;
    height: 20vw;
    
    position: relative;
    left: 30px;
    border-radius: 50%;
    /* background-size: 400%;
    animation: sfera 10s linear infinite; */
    animation: sfera2 5s linear .5s infinite;
    transition: transform .5s, scale .5s;
}

.tra-f0::before,
.tra-f0::after 
{
    content: '';
    width: 70%;
    height: 70%;
    background-color: black;
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 50%;
}



@keyframes sfera {
    from {
        background-position: 0 0;
    }
    50% {
        background-position: 99% 99%;
    }
    to {
        background-position: 0 0;
    }

}

@keyframes sfera2 {
    from {
        transform: rotateZ(0deg);
    }
    from {
        transform: rotateZ(180deg);
    }
    from {
        transform: rotateZ(360deg);
    }

}

.primer {
    perspective: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

.tra-f:hover {
    cursor: pointer;
    transition: transform .5s;
    transform:rotateX(30deg) rotateY(10deg) rotateZ(720deg) ;
}

.tra-f0:hover {
    cursor: pointer;
    scale: 1.2;
    transition: scale .5s;
}

.tra-f2 {
    width: 23vw;
    height: 35vh;
    border: 2px solid blue;
    box-shadow: 5px 5px 3px grey;
    border-radius: 5px;
    perspective: 400px;
}

.tra-f2 li {
    all: unset;
    perspective: 500px;
}

.tra-f2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: transform 0.3s;
    padding: 0;
}

.tra-f2 h3 {
    text-align: center;
}

.tra-f2 a {
    all: unset;
    display: block;
    font-size: 20px;
    margin-right: 3px;
    transition: transform .5s;   
    
}

.tra-f2 a:hover {
    
    transform: translateZ(150px);
    transition: transform .5s;
    cursor: pointer;
}

.tr-or0 {
    display: flex;
    justify-content: space-evenly;
}