@import url(buttons.css);

@import url(bazovie-stili.css);


.tra-f {
    background: linear-gradient(15deg, red, greenyellow, rgb(50, 141, 244), blue);
    width: 20vw;
    height: 20vw;
    
    position: relative;
    left: 30px;
    border-radius: 50%;
    background-size: 400%;
    animation: sfera 10s linear infinite;
    transition: transform .5s;
}

.tra-f::before,
.tra-f::after 
{
    content: '';
    width: 70%;
    height: 70%;
    background-color: black;
    position: absolute;
    top: 15%;
    left: 15%;
    border-radius: 50%;
}



@keyframes sfera {
    from {
        background-position: 0 0;
    }
    50% {
        background-position: 99% 99%;
    }
    to {
        background-position: 0 0;
    }

}

.primer {
    perspective: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tra-f:hover {
    /* transform: rotate(180deg) translateZ(-70px) translateX(20px); */
    cursor: pointer;
    transition: transform .5s;
    transform:rotateX(30deg) rotateY(10deg) rotateZ(720deg) ;
}

.tra-f2 {
    width: 30vw;
    height: 35vh;
    border: 2px solid blue;
    box-shadow: 5px 5px 3px grey;
    border-radius: 5px;
    perspective: 400px;
}

.tra-f2 li {
    all: unset;
    perspective: 500px;
}

.tra-f2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    transition: transform 0.3s;
    padding: 0;
}

.tra-f2 h3 {
    text-align: center;
}

.tra-f2 a {
    all: unset;
    display: block;
    font-size: 20px;
    margin-right: 3px;
    transition: transform .5s;   
    
}

.tra-f2 a:hover {
    
    transform: translateZ(150px);
    transition: transform .5s;
    cursor: pointer;
}