nav.menu {
    min-height: 10vh;
    background-color: blue;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav.menu a {
    text-decoration: none;
    background-color: blue;
    padding: 2px 4px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
    transition: scale .5s;
}

nav.menu a:hover {
    transition: scale .5s;
    scale: 1.2;
}

.dark {
    background-color: #570;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 20%;
}

.dark article {
    background-color:#def;
    background-image:
        radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}

.dark article .contents {
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(70, 100, 90, 0.5);
    color: white;
}

.dark .contents .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark .contents .text h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.dark .contents .text p {
    font-size: 16px;
    /* line-height: 1.1; */
}

.dark .contents .text p.link {
    text-align: right;
}

.dark .contents .text p.link a {
    color: white;
}

.dark .contents nav a img {
    color: white;
}