body {
    /* display: flex; */
    background: repeating-linear-gradient(
        90deg,
        rgb(29, 154, 196),
        rgb(35, 252, 150),
        rgb(169, 255, 255));
}

section {
    margin: 30px 28%;
    padding-top: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blueviolet;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 100vw;
}

header {
    padding-top: 20px;
}

header a {
    margin: 10px 5px 10px 5px;
    background-color: rgb(24, 116, 153);
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

header a:hover {
    background-color: rgb(36, 187, 247);
}