@import url(bazovie_stili.css);

h1 {
    margin: 8px 20vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.kursi1 {
    padding: 8px;
    margin: 20px 2px;
    border: 2px solid blue;
    display: flex;
}

legend {
    font-size: 3vw;
    font-weight: bolder;
    color: blueviolet;
    padding: 2px 5px;
}

.kursi1_2 {
    width: 33%;
    padding: 5px;
    margin: 3px;
}

.tasks {
    width: 80vw;
    /* border: 2px solid blue; */
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    margin: 20px auto;
}

hr {
    margin-bottom: 20px;
}

li {
    margin: 3px 5px;
}

li a {
    padding: 2px;
}

li:hover a {
    background-color: blue;
    color: white;
}