@import url(bazovie_stili.css);

h1 {
    margin: 8px 20vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.tasks {
    width: 70vw;
    border: 2px solid blue;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
    padding: 10px;
    margin: 20px 40px;
}

hr {
    margin-bottom: 20px;
}

li {
    margin: 3px 5px;
}