@import url(bazovie_stili.css);


section {
    width: 40vw;
    min-height: 30vh;
    background-color: lightgrey;
    margin: 50px auto;
    padding: 10px 20px;
}

button.text {
    padding: 3px 5px;
    min-width: 12vw;
    min-height: 6vh;
    margin: 5px 10px;
}