@import url(bazovie_stili.css);


section.btns {
    width: 35vw;
    min-height: 30vh;
    background-color: lightgrey;
    margin: 50px auto;
    padding: 10px 20px;
}

.frst,
.scnd,
.trst {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 10px;
}

button.text {
    display: inline-block;
    padding: 3px 5px;
    min-width: 13vw;
    min-height: 6vh;
    
    cursor: pointer;
    background-color: #49f;
    color: white;
    border: 0;
    border-bottom: 2px solid #37c;
}

button.text:active {
    border-bottom: 0;
}

button:hover {
    opacity: 0.9;
}

button.ic1::before {
    content: url(icon_white.svg);
    padding: 1px 12px 0 0;
    
}

.sml {
    min-width: 4.3vw;
    min-height: 6vh;
    margin-top: 10px;
}


.buttons button {
    display: inline-block;
    background-color: #49f;
    color: white;
    border-radius: 4px;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #37c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    outline: 0;
}

.buttons button:active {
    border-bottom: 0;
    margin-top: 2px;
}