* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80vw;
    max-width: 1280px;
    min-height: 300px;
    margin: 2rem auto;
    background-color: gold;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: gold;
}

nav a {
    width: 15%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1.8rem;
}

nav a:hover {
    background-color: rgb(41, 125, 54);
    color: white;
}


.block1 {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.form-block {
    width: 90%;
    min-width: 700px;
    padding: 1rem;
    border: 2px solid green;
    display: flex;
    justify-content: space-around;
}

fieldset {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    margin: 2rem;
}

legend {
    font-size: 24px;
}

fieldset button {
    font-size: 16px;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid blue;
    border-radius: 5px;
}

fieldset button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    border-color: white;
}

fieldset button:active {
    scale: 1.1;
}

.pink {
    background-color: pink;
}