@import url(bazovie_stili.css);

* {
    box-sizing: border-box;
    margin: 0;
}

section {
    width: 70vw;
    height: 60vh;
    background-color: antiquewhite;
    margin: 10svh 15vw;
    padding: 15px;
}

section p {
    text-align: centerss;
}

section a {
    display: block;
    width: 5vw;
    height: 3vw;
    background-color: coral;
    color: white;
}