@import url(bazovie_stili.css);


section.btns {
    width: 35vw;
    min-height: 30vh;
    background-color: lightgrey;
    margin: 50px auto;
    padding: 10px 20px;
}

.frst,
.scnd,
.trst {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 10px;
}

button.text {
    display: inline-block;
    padding: 3px 5px;
    min-width: 13vw;
    min-height: 6vh;
    
    cursor: pointer;
    background-color: #49f;
    color: white;
    border: 0;
    border-bottom: 2px solid #37c;
}

button.text:active {
    border-bottom: 0;
}

button:hover {
    opacity: 0.9;
}

button.ic1::before {
    content: url(icon_white.svg);
    padding: 1px 12px 0 0;
    
}

.sml {
    min-width: 4.3vw;
    min-height: 6vh;
    margin-top: 10px;
}




section.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(230, 230, 236);
    width: 35vw;
    margin: 10px auto;
}

.buttons p {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4px;
}

.buttons button {
    display: inline-block;
    vertical-align: top;
    
    border-radius: 4px;
    padding: 10px;
    padding-top: 7px;
    border: 0;
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    outline: 0;
    padding-left: 32px;
    background-size: 16px 16px;
    background-position: 10px center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    margin-right: 3px;
    width: 10vw;

    text-transform: capitalize;
    /* margin-bottom: 3px; */
    font-weight: 600;
}

.buttons button.red {
    background-color: #f44;
    border-bottom: 2px solid #c00;
}

.buttons button.blue {
    background-color: #49f;
    border-bottom: 2px solid #37c;
}

.buttons button.grey {
    background-color: #99c;
    border-bottom: 2px solid #558;
}

.buttons button:active {
    border-bottom: 0;
    margin-top: 2px;
}

.buttons button.follow {
    background-image: url(icon_white.svg);
}

.buttons button.empty {
    width: 4vw;
    padding-top: 17px;
    padding-bottom: 17px;
    background-position: center;
}

