*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    height: 15vh;
    display: flex;
}

.logo-box {
    width: 40%;
    height: 100%;
    background-color: rgb(224, 255, 245);
    padding: 0;
    font-size: 1rem;
}

.logo p:last-child {
    margin-bottom: 55px;
}

.logo-box p {
    margin: 0px 0 0 20%;
    font-weight: bold;
}

.logo-box p:first-child {
    margin-top: 3%;
    font-size: 1.7rem;

}

.logo-box p span {
    font-size: 1.9rem;
    font-family: cursive;
}

.header-btns {
    width: 60%;
    background-color: rgb(224, 255, 245);
    padding: 0;
    display: flex;

}

.header-btns .nav-button {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: zoom 2s;
    /* align-items: end; */
}

.empty1 {
    height: 70%;
}

.empty2 {
    height: 1rem;
}

.title-nav {
    margin: 0 auto;
    transition: scale 0.5s;
}

.title-nav-hov {
    scale: 1.8;
    transition: scale 0.5s;
}

.header-btns .nav-button:hover {
    background-color: rgb(50, 149, 116);
    color: white;
    padding-bottom: 0px;
    cursor: pointer;

}

.header-btns .nav-button:active {
    background-color: rgb(64, 181, 142);

}




.slider {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.btn-sli-left {
    font-size: 8rem;
    font-weight: 900;
    padding-top: 5.5rem;
    padding-left: 2rem;
    transition: scale .5s;
}

.btn-sli-left:hover {
    scale: 1.2;
    cursor: pointer;
    transition: scale .5s;
}

.btn-sli-left:active {
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn-sli-right {
    font-size: 8rem;
    font-weight: 900;
    padding-top: 5.5rem;
    padding-right: 2rem;
    transition: scale .5s;
}

.btn-sli-right:hover {
    scale: 1.2;
    cursor: pointer;
    transition: scale .5s;
}

.btn-sli-right:active {
    padding-left: 1rem;
    padding-right: 1rem;
}


.sli-info {
    width: 62vw;
    height: 42vh;
    display: flex;
    overflow: scroll;
}

.sli-block-info{
    display: flex;

}

.sli-text {
    width: 35vw;
    height: 100%;
    padding: .5rem .5rem .5rem 1rem;
    font-size: 1.05rem;
}

.sli-text p {
    text-indent: 10%;
    text-align: justify;
    text-justify: auto;
} 

.heading {
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
}

.sli-img {
    width: 22vw;
    height: 100%;
    padding: 0 .5rem;
    margin-right: 2rem;
}

.sli-img img {
    width: 18vw;
    height: 18vw;
    border: 15px solid rgb(50, 149, 116);
    border-radius: 100vw;
    transition: border .5s;
}

.sli-img img:hover {
    border: 15px solid rgb(20, 208, 145);
    transition: border .5s;
}

.news {
    width: 100%;
    height: 60vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.news article {
    width: 30%;
    background-color: chartreuse;
}

.news article:first-child {
    margin-right: 2rem;
}

.main-news {
    padding: .6rem;
}

.main-news-box-title {
    display: flex;
    justify-content: space-around;
}

.main-news-box-title .image {
    background-image: url(../Tasks/суслики\ мини2.jpg);
    background-repeat: no-repeat;
background-size: cover;
    width: 7rem;
    height: 7rem;
    border: 1px solid blue;
}

.common-news-box {
    border: 2px solid blue;
    width: 90%;
    height: 15vh;
    margin: .7rem auto;
    background-color: white;
}



.old-articles {
    height: 60vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test {
    width: 17rem;
    height: 17rem;
    clip-path: circle(54%);
    margin-right: 2rem;
}

.test2 {
    width: 17rem;
    height: 17rem;
    background-color: paleturquoise;
    clip-path: ellipse(4rem farthest-side at left);

}





footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer-text {
    text-align: center;
}

.green {
    background-color: greenyellow;
}