* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: black;
}


nav {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 14px;
}

nav a {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-right: 10px;
    width: 10vw;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: rgb(19, 175, 19);
}

nav a:active {
    background-color: gold;
}
