* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    /* display: block; */
    background-color: blue;
    color: white;
    padding: 20px;
    margin-right: 10px;
    width: 7vw;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(19, 175, 19);
}