body {
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    height: 15vh;
    display: flex;
}

.logo {
    width: 40%;
    height: 100%;
    background-color: antiquewhite;
}

.header-btns {
    width: 60%;
    background-color: aquamarine;
    padding: 0;
    display: flex;
}

.header-btns .button {
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    
}

.header-btns .button:hover {
    background-color: rgb(122, 239, 200);
}