* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: black;
}


nav {
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 14px;
}

nav a {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-right: 10px;
    width: 7vw;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(19, 175, 19);
}

nav a:active {
    background-color: gold;
}


.container {
    width: 600px;
    margin: 0 auto;
}

.container2 {
    width: 552px;
    margin: 0 auto;
}

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo img {
    margin: 19px 0;
    text-align: center;
}


.sale {
    height: 100vh;
    background-color: white;
}

.sale h1 {
    font-size: 36px;
    font-weight: 50;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    
}

.card_name {
    font-size: 24px;
    font-weight: 50;
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
}

.card_price {
    font-size: 20px;
    font-weight: 50;
    font-family: 'Times New Roman', Times, serif;
    height: 24px;
}