* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

.container {
    width: 1130px;
    margin: 0 auto;
}


.nav-ul {
    display: flex;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.nav-btn {
    padding: 1rem 5px 1rem 5px;
}

.nav-logo p {
    color: #2d2d2d;
    font-weight: 600;
    font-size: 30px;
    margin-left: 4px;
}

.nav-ul li a {
    text-decoration: none;
}