.alert {
    color: red;
}

.primer {
    width: 30%;
    border: 2px solid black;
    padding: 5px;
}

.tag, .title {
    position: relative;
}

.tag::after, .title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    background-color: black;
}

.tag::after {
    height: 1px;
}

.title::after {
    height: 2px;
}

hr {
    border: none;
    text-align: center;
}

hr::before {
    content: "***";
}

blockquote {
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "“";
    position: absolute;
    left: 0rem;
    bottom: 3rem;
    font-size: 100px;
    font-family: sans-serif;
}

.poems {
    list-style-type: lower-roman;
}


.benefits {
counter-reset: benefits;
}

.benefits-item {
counter-increment: benefits;
padding: 30px;
background: #e6e6e6;
margin: 20px 0;
position: relative;
overflow: hidden;
color: #1a5ad7;
font-size: 24px;
text-align: center;
}

.benefits-item::before {
content: counter(benefits);
position: absolute;
font-size: 190px;
font-weight: bold;
left: 0;
top: -0.35em;
opacity: 0.5;
color: #1a5ad7;
}
  
.poem-item::marker {
color: #e4370c;
font-size: 2.4em;
}
  
.ol-styles {
background-color: aqua;
}

.ul-items {
list-style-position: inside;
}

.ul-item {
list-style-position: outside;
 }

 figure {
    background-color: aqua;
 }

 figcaption {
    background-color: aquamarine;
 }

.img {
    width: 100%;
}

footer {
    height: 50px;
    padding: 30px 20px 20px 40px;
}
