* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.teg-span {
    color: rgb(42, 71, 214);
}

.primer2 {
    border: 3px solid black;
    width: 50%;
    min-height: 60px;
    padding: 5px;
    margin-bottom: 5px;
}

.ssilka {
    padding: 5px;
    
}

a[href].ssilka:hover {
    background-color: bisque;
    color: rgb(10, 154, 10);
}

kbd {
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
}

u.wave {
    
    text-decoration-style: wavy;
    text-decoration-color: red;
}