.primer2 {
    border: 3px solid black;
    padding: 5px;
    width: 50%;
}

.svg1 {
    stroke:blue;
    width: 30%;
    min-height: 50px;
    margin-right: 5px;
    border: 2px solid black;
}

.svg1:hover {
    stroke:red;
}

.svg2 {
    stroke:blue;
    width: 30%;
    min-height: 50px;
    margin-right: 5px;
    border: 2px solid black;
}

.svg2:hover {
    stroke:rgb(177, 33, 172);
    fill: rgb(225, 146, 28);
}

.svg3 {
    stroke:white;
    width: 30%;
    min-height: 50px;
    fill: blue;
    border: 2px solid black;
    
}

.svg3:hover {
    animation: animation 3s infinite alternate;
    stroke:rgb(24, 162, 221);
    
}

  @keyframes animation {
    from {
      fill: red;
    }
    to {
      fill: green;
    }
  }
  