body {
    background: repeating-linear-gradient(
        90deg,
        rgb(17, 19, 144),
        rgb(42, 143, 226),
        rgb(208, 244, 255));
    margin: 0;
}

.bg-negative {
    background: repeating-linear-gradient(
        90deg,
        rgb(211, 212, 249),
        rgb(24, 76, 119),
        rgb(49, 54, 55));       
}


section {
    margin: 10px 28%;
    padding-top: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blueviolet;
    padding: 20px 40px;
    background-color: antiquewhite;
    border-radius: 100vw;
    margin: 5px 15%;
}

.another-h1 {
    
}

header {
    padding-top: 20px;
}

header a {
    margin: 10px 5px 10px 5px;
    background-color: rgb(24, 116, 153);
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

header a:hover {
    background-color: rgb(36, 187, 247);
}   

.negativ {
    margin: 20px;
    padding: 5px;

}

.btn {
    margin: 40px 45%;
    background-color: aqua;
    padding: 6px 15px;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 4px;
    width: 90px;
    height: 40px;    
    margin-bottom: 10px;

}

.btn:active {
    background-color: rgb(190, 250, 250);
    color: rgb(75, 75, 75);
    margin-bottom: 10px;
}

.negativ-on-button {
    background-color: rgb(1, 85, 85);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 90px;
    height: 40px;
}

.todo {
    background-color: antiquewhite;
    width: 60vw;
    margin: 20px 20px 20px 40px;
    padding: 5px;
    border: 3px solid orange;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.todo-item {
    margin: 5px;
    border: 2px solid black;
    width: 5rem;
}

.todo-item:hover {
    cursor: pointer;
}

.green {
    background-color: greenyellow;
}

.plus {
    padding: 20% 15%;
}

.btn-plus {
    background-color: beige;
    padding: 0.5rem;
    border-radius: 7px;
}

.btn-plus:active {
    background-color: rgb(48, 140, 214);
    color: white;
    
}