body {
    background: repeating-linear-gradient(
        90deg,
        rgb(144, 104, 17),
        rgb(226, 226, 42),
        rgb(255, 253, 208));
}

section {
    margin: 30px 28%;
    padding-top: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: blueviolet;
    padding: 20px 40px;
    background-color: antiquewhite;
    border-radius: 100vw;
    margin: 5px 15%;
}

header {
    padding-top: 20px;
}

header a {
    margin: 10px 5px 10px 5px;
    background-color: rgb(24, 116, 153);
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}

header a:hover {
    background-color: rgb(36, 187, 247);
}

.forma {
    border: 2px solid blue;
    border-radius: 4px;
    margin: 30px 40px;
    padding: 10px;
    background-color: rgb(89, 247, 237);
}

.form__button {
    background-color: greenyellow;
}