div {
    border: 3px solid orange;
}

.aqua {
    width: 13vw;
    height: 13vw;
    position: fixed;
    top: 2rem;
    left: 2rem;
    background-color: greenyellow;
    border-color: aqua;
}

.red {
    width: 14vw;
    height: 14vw;
    position: fixed;
    top: 1rem;
    left: 10rem;
    background-image: url(../суслики\ мини.jpg);
    background-position: center;
    border-color: red;
}

.green {
    width: 13vw;
    height: 13vw;
    position: fixed;
    top: 9rem;
    left: 6rem;
    border-color: rgb(12, 171, 12);
}

.green img {
    width: 100%;
    height: 100%;
}

img {
    pointer-events: none;
}

.cat {
    width: 20vw;
    height: 20vw;
    position: fixed;
    top: 26rem;
    left: 30rem;
}

.draggable {
    position: absolute;
    z-index: 1;
    cursor: grab;
    transition-property: scale, opacity;
    transition-duration: 0.2s;
    touch-action: none;
}

.draggable.is-dragging {
    cursor: grabbing;
    opacity: 0.5;
    scale: 1.05;
}